<h1>Eat-Da-Burger!</h1>

<h2> </h2>
<ul>
    {{#each burger}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
        <button class="eat" data-id="{{burger.id}}" 
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2> </h2>
 <ul>
    {{#each burger}}
    {{#if devoured}}
    <li>
        {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2> </h2>
<form id="create-form"></form>
