<h1>Eat-Da-Burger!</h1>

<h2> </h2>
<ul>
    {{#each burger}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
        <button class="change-devour" data-id="{{id}}">Devour</button> 
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2> </h2>
 <ul>
    {{#each burger}}
    {{#if devoured}}
    <li>
        {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2> </h2>
<form id="create-form" action="/api/burger" method="POST">
<div>
<label>Enter Burger Name</label> 
<input name="burger_name"> 
<input type="submit" value="Add New Burger">
</div>
</form>
